body{
  background-color:black;
  padding-top:30px;
  
  overflow: hidden;
}
*{
  cursor:none;
}
.slide{
  display:none;
}
#artwork{
  width:85%;
  display:block;
  margin:0px auto;
  -webkit-transition: width 20s ease-out;
  -moz-transition: width 20s ease-out;
}
#artwork.trans{
 width:65%;
}
#character{
  position:absolute;
  bottom:0;
  z-index:1;
  width:35%;
  left: 30%;
  -webkit-transition:all 20s ease-in;
  -moz-transition:all 20s ease-in;
  transition:all 18s ease-in;
}
#character.trans{
  -webkit-transform:translate(100px, 0px);
  -moz-transform:translate(100px, 0px);
}
#logo{
  position: absolute;
  z-index: 2;
  bottom: 35px;
  left: 35px;
  width:18%;
}
#bottom-left{
  height: 30px;
  position: absolute;
  z-index:2;
  right: 110px;
  bottom: 80px;
  background-color: rgba(24, 24, 24, 0.71);
  padding-left: 8px;
  padding-right: 8px;
}
#bottom-left span{
  line-height:30px;
  color:white;
  font-family:Arial;
  color:rgb(200,200,200);
  margin-right:5px;
  float:left;
}
.loadingText{
  display:block;
}
.hiddenCountdown{
  display:none;
}
#loading{
  width:22px;
  height:22px;
  position: relative;
  top: 12%;
  float:right;
}
.loader {
  float:right;
  font-size: 2px;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #FFF;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: rgba(17, 17, 17, 1);
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

span.hiddenCountdown.dsCountDown.ds-custome {
    float: left;  width: auto;
}

.ds-element.ds-element-days {
    width: auto;
    float: left;
}

.ds-element-value.ds-days {
    width: auto;
    float: left;
}

.ds-element-title {
    float: left;
    width: auto;
    margin-left: 5px;
}

.ds-element.ds-element-hours {
    float: left;
    margin-left: 10px;
}

.ds-element-value.ds-hours {
    width: auto;
    float: left;
}

.ds-element.ds-element-minutes {
    float: left;
}

.ds-element-value.ds-minutes {
    float: left;
    margin-left: 10px;
}

.ds-element.ds-element-seconds {
    float: left;
    width: auto;
}

.ds-element-value.ds-seconds {
    float: left;
    margin-left: 10px;
}

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}